body {
  background: #fcfcfc;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #161616;
  position: relative;
}

html, body, ul, ol, li, form, fieldset, legend, figure, img {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img, figure {
  border: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.w-out-banner {
  margin-top: 50px;
  padding-top: 2%;
  padding-bottom: 1%;
}

.w-out-banner h3 {
  color: #666;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -12px;
  background: #fcfcfc;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.w-out-banner .border-between {
  display: block;
  height: 1px;
  background-color: #DDD;
  border-bottom: #fff solid 1px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a#go-top {
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 3px 7px 5px 7px;
  font-size: .9rem;
  cursor: pointer;
  display: none;
  z-index: 0;
  color: #fcfcfc;
  line-height: 20px;
  background-color: #28a745;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34d058), color-stop(90%, #28a745));
  background-image: -webkit-linear-gradient(top, #34d058 0%, #28a745 90%);
  background-image: -o-linear-gradient(top, #34d058 0%, #28a745 90%);
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  text-transform: capitalize;
}

a#go-top:hover {
  background-color: #269f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2fcb53), color-stop(90%, #269f42));
  background-image: -webkit-linear-gradient(top, #2fcb53 0%, #269f42 90%);
  background-image: -o-linear-gradient(top, #2fcb53 0%, #269f42 90%);
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  background-position: -.5em;
  border-color: rgba(27, 31, 35, 0.5);
}

header {
  top: 0;
  width: 100%;
  height: 72px;
  background-color: white;
  position: absolute;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

@media screen and (max-width: 668px) {
  header {
    height: 62px;
  }
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: relative;
}

header #burger-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  width: 50px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 11px;
  border-radius: 4px;
}

@media screen and (max-width: 668px) {
  header #burger-icon {
    display: block;
  }
}

header span {
  border-radius: 4px;
  height: 3px;
  width: 100%;
  margin-bottom: 5px;
  background: #000;
  display: block;
}

header #my-logo {
  height: 100%;
  display: block;
}

header img {
  padding: 10px 0;
  width: 52px;
  height: 52px;
}

@media screen and (max-width: 668px) {
  header img {
    width: 42px;
    height: 42px;
  }
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}

header #social-links li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 668px) {
  header nav {
    overflow: hidden;
    height: 0;
    top: 62px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: block;
    position: absolute;
    background: #f2f2f2;
    transition: .3s;
    left: 0;
    top: 62px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  header nav li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

header #dropbar.visible {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 270px;
}

header #dropbar.visible a {
  font-size: 1.5rem;
  border-bottom: 1px solid #d3d3d3;
}

header #dropbar.visible #contact-me {
  border-bottom: 0;
}

header a {
  -webkit-transition: linear .2s;
  -o-transition: linear .2s;
  transition: linear .2s;
}

header nav a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.3rem;
  padding: 10px 0px;
  border-bottom: 1px solid white;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

header nav a:hover {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-bottom: 1px solid #28a745;
}

header nav a, header #social-links a {
  display: block;
  margin: 0 10px;
  text-decoration: none;
  text-align: center;
  color: #161616;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header nav a:hover, header #social-links a:hover {
  color: #474747;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header #social-links {
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  header #social-links {
    display: none;
  }
}

#banner {
  overflow: hidden;
  background: url(https://static.pexels.com/photos/34676/pexels-photo.jpg) no-repeat center center;
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

#banner .banner-inner {
  color: #fcfcfc;
  height: 100vh;
  width: 100%;
  position: relative;
}

#banner #home-welcome {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 35%;
}

#banner #scroll-down {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 2%;
  color: #fcfcfc;
}

#banner h1 {
  max-width: 70%;
  margin: 20px auto;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  #banner h1 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 480px) {
  #banner h1 {
    font-size: 1.5rem;
  }
}

#banner span {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  #banner span {
    font-size: .8rem;
  }
}

#banner p {
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-family: 'Overpass Mono', monospace;
}

@media screen and (max-width: 768px) {
  #banner p {
    font-size: .7rem;
  }
}

#banner a {
  text-decoration: none;
  color: #fcfcfc;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#banner a:hover {
  color: #cecece;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#scroll-more-section:after {
  content: "";
  display: block;
  clear: both;
}

#latest-work-section h3 {
  width: 250px;
}

#latest-work-section .three-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#latest-work-section figure {
  width: 32%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 35px 20px 25px 20px;
  margin: 10px 0;
  border-radius: 7px;
  -webkit-box-shadow: 0 15px 45px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 45px -15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#latest-work-section figure:hover {
  -webkit-box-shadow: 0 20px 45px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 45px -15px rgba(0, 0, 0, 0.4);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  #latest-work-section figure {
    width: 90%;
    text-align: center;
  }
}

#latest-work-section img {
  margin: 0 auto;
  display: block;
  border-radius: 7px;
  max-width: 100%;
}

#latest-work-section h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: .5px;
}

#latest-work-section figure span {
  font-size: 0.8rem;
  color: #6c737e;
  background-color: #e8ecf1;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 2px 1px;
  border-radius: 1em;
}

#latest-work-section p {
  text-align: center;
  letter-spacing: .5px;
  margin: 45px 0 0 0;
  font-size: 1.1rem;
}

#latest-work-section #more-projects {
  border-bottom: 1px dotted #4288DC;
  text-decoration: none;
  color: #5EA4F7;
  font-size: 1rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#latest-work-section #more-projects:hover {
  color: #4288DC;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#about-me-section h3 {
  width: 120px;
}

#about-me-section .about-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#about-me-section .bit-about {
  width: 48%;
  margin: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1002px) {
  #about-me-section .bit-about {
    text-align: center;
  }
}

#about-me-section img {
  width: 100%;
  border-radius: 6px;
  height: auto;
  display: block;
}

#about-me-section h4 {
  padding-top: 10px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 0;
}

#about-me-section span {
  font-size: 1rem;
  letter-spacing: .3px;
  display: block;
}

#about-me-section p {
  margin-top: 20px;
  font-size: 1.1rem;
}

#about-me-section strong {
  font-size: 1.6rem;
  display: block;
  letter-spacing: 1px;
}

#about-me-section #skills {
  font-size: 1.1rem;
  margin-top: 30px;
}

#about-me-section #find-me-on {
  font-size: 1.5rem;
  padding: 20px 0;
}

#about-me-section li {
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  width: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 3px;
  margin: 2px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#about-me-section li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#about-me-section a {
  text-decoration: none;
  color: #fcfcfc;
}

#about-me-section #find-out {
  text-transform: capitalize;
  text-decoration: none;
  color: #5EA4F7;
  letter-spacing: 1px;
  font-size: 1.3rem;
}

#about-me-section li:nth-child(1) {
  background: #3b5998;
}

#about-me-section li:nth-child(2) {
  background: #55acee;
}

#about-me-section li:nth-child(3) {
  background: #e95950;
}

#about-me-section li:nth-child(4) {
  background: #ff0000;
}

#about-me-section li:nth-child(5) {
  background: #6e5494;
}

#about-me-section li:nth-child(6) {
  background: #007bb5;
}

#contact-me-section h3 {
  width: 130px;
}

#contact-me-section #form-container {
  padding-top: 30px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

#contact-me-section h4 {
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
}

#contact-me-section p {
  font-size: 1.1rem;
}

#contact-me-section form {
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#contact-me-section input {
  font-size: .9rem;
}

#contact-me-section input, #contact-me-section textarea {
  margin: 7px 0;
  display: block;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c6c6c6;
  padding: 6px 10px;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #666;
}

#contact-me-section .input-two-column-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#contact-me-section .input-two-column {
  width: 48%;
}

@media screen and (max-width: 768px) {
  #contact-me-section .input-two-column {
    width: 100%;
  }
}

#contact-me-section textarea {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: .4px;
}

#contact-me-section input[type=submit] {
  margin: 0 auto;
  border-radius: 6px;
  font-size: .9rem;
  padding: .6rem 4rem;
  color: #fcfcfc;
  cursor: pointer;
  line-height: 20px;
  background-color: #28a745;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34d058), color-stop(90%, #28a745));
  background-image: -webkit-linear-gradient(top, #34d058 0%, #28a745 90%);
  background-image: -o-linear-gradient(top, #34d058 0%, #28a745 90%);
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  background-repeat: repeat-x;
  background-position: -1px -1px;
}

@media screen and (max-width: 768px) {
  #contact-me-section input[type=submit] {
    width: 100%;
    padding: .6rem 0;
  }
}

#contact-me-section input[type=submit]:hover {
  background-color: #269f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2fcb53), color-stop(90%, #269f42));
  background-image: -webkit-linear-gradient(top, #2fcb53 0%, #269f42 90%);
  background-image: -o-linear-gradient(top, #2fcb53 0%, #269f42 90%);
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  background-position: -.5em;
  border-color: rgba(27, 31, 35, 0.5);
}

#contact-me-section p#note {
  margin-top: 10px;
  font-size: .7rem;
  color: red;
}

footer {
  background-color: white;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10%;
  padding: 18px;
}

footer .footer-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer p {
  text-align: left;
  font-size: 1.2rem;
  color: #666;
}

footer #follow-like-button {
  text-align: right;
}

footer #follow-like-button, footer p {
  width: 48%;
}

@media screen and (max-width: 768px) {
  footer #follow-like-button, footer p {
    width: 100%;
    text-align: center;
  }
}
