body {
  background: #fcfcfc;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #161616;
  position: relative;
}

html, body, ul, ol, li, form, fieldset, legend, figure, img {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img, figure {
  border: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.current {
  color: #666;
}

.w-out-banner {
  padding-top: 8%;
  padding-bottom: 1%;
}

.w-out-banner h3 {
  color: #666;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -12px;
  background: #fcfcfc;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.w-out-banner .border-between {
  display: block;
  height: 1px;
  background-color: #DDD;
  border-bottom: #fff solid 1px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

/* Cursor */
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  top: 0;
  width: 100%;
  height: 72px;
  background-color: #fff;
  position: absolute;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 72px;
}

header #my-logo {
  height: 72px;
}

header img {
  padding: 10px 0;
  width: 52px;
  height: 52px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  padding: 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}

header #social-links li:last-child {
  padding-right: 0;
}

header a {
  text-decoration: none;
  text-align: center;
  color: #161616;
  font-size: 1.3rem;
}

header #social-links {
  font-size: 1.6rem;
}

#banner {
  overflow: hidden;
  background: url(https://static.pexels.com/photos/34676/pexels-photo.jpg) no-repeat center center;
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

#banner .banner-inner {
  color: #fcfcfc;
  height: 100vh;
  width: 100%;
  position: relative;
}

#banner #home-welcome {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
}

#banner #scroll-down {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  position: absolute;
  bottom: 5%;
  left: 0;
  color: #fcfcfc;
}

#banner h1 {
  max-width: 70%;
  margin: 20px auto;
  font-size: 2.4rem;
  letter-spacing: 1px;
}

#banner span {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
}

#banner p {
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-family: 'Overpass Mono', monospace;
}

#latest-work h3 {
  width: 250px;
}

#latest-work .three-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#latest-work figure {
  width: 32%;
  min-width: 290px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 35px 20px 25px 20px;
  margin: 10px 0;
  border-radius: 7px;
  -webkit-box-shadow: 0 15px 45px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 45px -15px rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#latest-work figure:hover {
  -webkit-box-shadow: 0 20px 45px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 45px -15px rgba(0, 0, 0, 0.4);
}

#latest-work img {
  margin: 0 auto;
  display: block;
  border-radius: 7px;
  max-width: 100%;
  width: 250px;
}

#latest-work h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: .5px;
}

#latest-work figure span {
  font-size: 0.8rem;
  color: #6c737e;
  background-color: #e8ecf1;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 3px 1px;
  border-radius: 1em;
}

#about-me h3 {
  width: 120px;
}

#contact-me h3 {
  width: 130px;
}

#contact-me #form-container {
  padding-top: 30px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

#contact-me h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

#contact-me p {
  font-size: 1.3rem;
  letter-spacing: .3px;
}

#contact-me form {
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#contact-me .form-input {
  margin: 5px;
  padding: 5px;
}

#contact-me .two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#contact-me .two-columns input {
  width: 45%;
}

#contact-me input {
  font-size: 1rem;
}

#contact-me input, #contact-me textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #666;
  padding: 6px 10px;
}

#contact-me textarea {
  font-family: 'PT Sans Narrow', sans-serif;
  width: 95%;
  font-size: 1.2rem;
}

#contact-me input[type=submit] {
  text-align: center;
  border-radius: 6px;
  width: 40%;
  min-width: 200px;
  font-size: .9rem;
  padding: 10px 40px;
  color: #fcfcfc;
  cursor: pointer;
  line-height: 20px;
  background-color: #28a745;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#34d058), color-stop(90%, #28a745));
  background-image: -webkit-linear-gradient(top, #34d058 0%, #28a745 90%);
  background-image: -o-linear-gradient(top, #34d058 0%, #28a745 90%);
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  border: 1px solid rgba(27, 31, 35, 0.2);
  background-repeat: repeat-x;
  background-position: -1px -1px;
}

#contact-me p#note {
  font-size: .7rem;
  color: red;
}

footer {
  background-color: #fff;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10%;
  height: 72px;
  padding: 18px;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer p {
  font-size: 1.2rem;
  color: #666;
}
