@import "mixins";
body {
  background: $pureWhite;
  font-family: 'PT Sans Narrow', sans-serif;
  color: $defaultColor;
  position: relative;
}

html, body, ul, ol, li, form, fieldset, legend, figure, img{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img, figure {
  border: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  box-sizing: border-box;
  padding: 0 10px;
}

.w-out-banner {
  margin-top: 50px;
  padding-top: 2%;
  padding-bottom: 1%;
  @include mQ(768px) {
  }
  h3 {
    color: #666;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -12px;
    background: $pureWhite;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .border-between {
    display: block;
    height: 1px;
    background-color: #DDD;
    border-bottom: #fff solid 1px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }
}

// .fade-me {
//   display: none;
// }
