body {
  background: $pureWhite;
  font-family: 'PT Sans Narrow', sans-serif;
  color: $defaultColor;
}

html, body, ul, ol, li, form, fieldset, legend, figure, img{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img, figure {
  border: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  padding: 0 10px;
}
