@import "variables";
@import "reset";
@import "mixins";

/* Cursor */
.typed-cursor{
	opacity: 1;
	font-weight: 100;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

header {
	top: 0;
  width: 100%;
  height: 72px;
  background-color: $backgroundHeader;
  position: absolute;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }
  #my-logo {
    height: 72px;
  }
  img {
    padding: 10px 0;
    width: 52px;
    height: 52px;
  }
  ul {
    display: flex;
  }
  li {
    padding: 10px;
    flex: 1 1 0;
  }
  #social-links li:last-child {
    padding-right: 0;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: $defaultColor;
		font-size: 1.3rem;
  }
  #social-links {
    font-size: 1.6rem;
  }
}
// End of Header

#banner {
  overflow: hidden;
  background: url(https://static.pexels.com/photos/34676/pexels-photo.jpg) no-repeat center center;
  background-color: $backgroundColor;
  background-size: cover;
  width: 100%;
  height: 100vh;
	position: relative;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  .banner-inner {
    color: $pureWhite;
    text-align: center;
    width: 100%;
    margin-top: 18%;
  }
	#home-welcome {
		margin: 0 auto;
		width: 70%;
	}
  h1 {
    font-size: 2.4rem;
		letter-spacing: 1px;
  }
	span {
		font-size: 1rem;
		font-weight: normal;
		letter-spacing: 1px;
	}
	#scroll-down {
		text-align: center;
		width: 100%;
		font-size: 1.2rem;
		position: absolute;
		bottom: 5%;
		color: $pureWhite;
	}
	p {
		margin-bottom: 5px;
		letter-spacing: 2px;
		font-size: 0.8rem;
		text-transform: capitalize;
		font-family: 'Overpass Mono', monospace;
	}
}
// End of Banner

#latest-work {
	h3 {
    width: 250px;
	}
  .three-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  figure {
    width: 32%;
    min-width: 290px;
    box-sizing: border-box;
    background: $backgroundColor;
    padding: 35px 20px 25px 20px;
    margin: 10px 0;
    border-radius: 7px;
    box-shadow: 0 15px 45px -15px rgba(0, 0, 0, .2);
    transition: .3s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 20px 45px -15px rgba(0, 0, 0, .4);
    }
  }
  img {
    margin: 0 auto;
    display: block;
    border-radius: 7px;
    max-width: 100%;
    width: 250px;
  }
  h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: .5px;
  }
  figure span {
    font-size: 0.8rem;
    color: rgb(108, 115, 126);
    background-color: rgb(232, 236, 241);
    display: inline-block;
    padding: 0.5em 1em;
    margin: 3px 1px;
    border-radius: 1em;
  }
}
// End of Latest Work
#about-me {
	h3 {
		width: 120px;
	}
}
// End of About
#contact-me {
	h3 {
		width: 130px;
	}
	#form-container {
		padding-top: 30px;
		margin: 0 auto;
		width: 70%;
		text-align: center;
	}
	h4 {
		font-size: 1.6rem;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-family: 'Roboto Condensed', sans-serif;
	}
	p {
		font-size: 1.3rem;
		letter-spacing: .3px;
	}
	form {
		padding: 10px;
		box-sizing: border-box;
		width: 100%;
	}
	.form-input {
		margin: 5px;
		padding: 5px;
	}
	.two-columns {
		display: flex;
		justify-content: space-around;
		input {
			width: 45%;
		}
	}
	input {
		font-size: 1rem;
	}
	input, textarea {
		box-sizing: border-box;
		width: 100%;
		border-radius: 4px;
		border: 1px solid #666;
		padding: 6px 10px;
	}
	textarea {
	  font-family: 'PT Sans Narrow', sans-serif;
		width: 95%;
	  font-size: 1.2rem;
	}
	input[type=submit] {
		width: 40%;
		font-size: .8rem;
		padding: 10px;
		text-transform: uppercase;
		outline: none;
	}
	p#note {
		font-size: .7rem;
		color: red;
	}
}
// End of Main
footer {
  background-color: $backgroundHeader;
  overflow: hidden;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 10%;
  height: 72px;
  padding: 18px;
  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    font-size: 1.2rem;
    color: #666;
  }
}
